/* 浅色模式（默认） */
:root {
    /* 大容器 */
    --glass-bg: rgba(255, 255, 255, 20%);
    --glass-text: rgba(225, 225, 225);
    
    /* 小容器 */
    --card-bg: rgba(255, 255, 255, 80%);
    --card-text: #222831;
    
    /* 装饰 */
    /* --border-color: rgba(255, 255, 255, 0.3);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --blur-bg: rgba(255, 255, 255, 0.25); */
}
  
/* 深色模式 */
html.dark {
    /* 大容器 */
    --glass-bg: rgba(64, 64, 64, 20%);
    --glass-text: rgb(225, 225, 225);
    
    /* 小容器 */
    --card-bg: rgba(32, 32, 32, 80%);
    --card-text: rgb(220, 220, 220);
    
    /* 装饰 */
    /* --border-color: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --blur-bg: rgba(17, 24, 39, 0.7); */
}
  
/* 过渡动画 - 让主题切换更平滑 */
/* body { */
    /* background-color: var(--glass-bg); */
    /* color: var(--card-text);
    transition: all 0.5s ease; */
/* } */